[submodule "scripts/jsn"]
	path = scripts/jsn
	url = https://github.com/polymonster/jsn.git
[submodule "scripts/cgu"]
	path = scripts/cgu
	url = https://github.com/polymonster/cgu.git
[submodule "scripts/pmfx-shader"]
	path = scripts/pmfx-shader
	url = https://github.com/polymonster/pmfx-shader
