# os junk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
.vscode
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# python/pycharm
**__pycache__**
*.pyc
**.idea/

# pmbuild specific
**.user.jsn
