[submodule "scripts/jsn"]
	path = scripts/jsn
	url = https://github.com/polymonster/jsn.git
[submodule "scripts/cgu"]
	path = scripts/cgu
	url = https://github.com/polymonster/cgu.git
[submodule "scripts/premake-android-studio"]
	path = scripts/premake-android-studio
	url = https://github.com/flavourworks/premake-android-studio.git
[submodule "scripts/pmfx-shader"]
	path = scripts/pmfx-shader
	url = https://github.com/polymonster/pmfx-shader.git
